.drawer {
  position: absolute;

  display: flex;
  flex-wrap: nowrap;
  background-color: rgba(255, 255, 255, 0.534);
  font-size: 1.5em;
  width: 100%;
  margin-top: 60px;
  height: 150px;
}
.drawer ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: auto;
  height: 100%;
}

.open {
  top: 0px;
}
.close {
  top: -250px;
}
