.photoSection {
  display: flex;
  background-size: cover;
  background-position: center;
  height: 60vh;
}

.news {
  width: 70%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  font-size: 2em;
  justify-content: center;
  text-align: center;
  margin: auto;
  flex-direction: row-reverse;
}
.wrapping {
  composes: photoSection;
  flex-wrap: wrap;
  height: 200px;
  align-self: center;
  margin: 5em auto;
}
.email {
  color: black;
  display: flex;
  font-size: 2em;
  justify-content: center;
  text-align: center;
  margin: auto;
}
.news input {
  height: 80px;
  border: 2px solid black;
  padding: 1em;
}
.news svg {
  height: 80px;
  width: 120px;
  padding: 0.3em;
}
.news svg:hover {
  fill: orange;
  cursor: pointer;
}
@media screen and (max-width: 770px) {
  .news input {
    margin-top: auto;
    height: 50px;
    width: 100%;
  }
  input::placeholder {
    font-size: 1rem;
  }
  .news {
    flex-direction: column-reverse;
    justify-content: center;
  }
  .news svg {
    align-self: center;
  }
  .email {
    font-size: 1.6em;
  }
}
@media screen and (max-width: 470px) {
  .email {
    font-size: 1em;
  }
}
